<%= paginate @targets %>

<div class="row">
<% @targets.each do |target| %>
  <div class="col-sm-4">
    <div class="card mb-4">
      <div class="card-body">
        🚀 <%= link_to target.prey.gsub('-', ' ').titleize, target %>
      </div>
    </div>
  </div>
<% end %>
</div>

