<h1><%= link_to 'See all the tweets', tweets_path %></h1>
<ul>
<li>Tweet: <%= @tweet.message %></li>
<li><%= link_to @tweet.target.prey,  @tweet.target %></li>
<li><%= link_to @tweet.insult.text,  @tweet.insult %></li>
</ul>